.header {
  top: 0;
  width: 100%;
  height: 4em;
  color: #445a3c;
  font-family: sans-serif;
  text-align: center;
  justify-content: left;
  padding-left: 1vw;
  padding-bottom: .5em;
  padding-top: .5em;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.header * {
  height: 100%;
  width: 100%;
}

.welcome {
  font-family: sans-serif;
  color: #445a3c;
  /* font-weight: bold;
  font-size: large; */
  padding: none;
  margin-left: 16px;
  padding-top: 5px;
  font-weight: bolder;
  /* height: 40%; */
  font-size: 1.5em;
  
}

.profilepic {
  padding-left: 1em;
  height: fit-content;
  width: fit-content;
  padding: none;
  margin: none;
  justify-content: center;
  /* border:solid; */
}

.right {
  font-family: sans-serif;
  color: #445a3c;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
  width: 60%;
  height: 110%;
  text-align: left;
  padding-left: 1vw;
}

.petname{
  font-weight: bolder;
  height: 40%;
  font-size: 1.2em;
}

.petinfo {
  height: 22%;
  font-weight: normal;
  font-size: .7em;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
}
section {
  box-sizing: border-box;
  margin-top: 3px;
  block-size: fit-content;
}

section * {
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 5mm;
  background-color: #e4eae3;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  block-size: fit-content;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.wrapper {
  /* padding-top: 5px; */
}
.cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  padding: none;
}

.homepic {
  width: 100%;
  height: 150px;
  border-radius: 25px;
  border: solid #9caf88;
}



.top {
  flex-direction: column;
}

.horizontal-scroll {
  display: grid;
  grid-gap: 16px;
  padding: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-content: start;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.content-card {
  padding: 2%;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
  width: 70vw;
}

.bottom-justified {
  width: 100%;
  /* padding: 1em; */
  /* flex-direction: column; */
 
}

.description {
  color: #445a3c;
  font-weight: bold;
  padding: 2%;
}

/* .videos {
  overflow-x: scroll;
} */

.video-responsive {
  /* padding: 2.5%; */
  /* height: 100%; */
}

a {
  text-decoration: none;
  color: #445a3c;
}

@media (min-width: 900px) {
  .cards {
    width: 98%;
  }
}

.categoryButton {
  background-color: white;
  border: none;
  color: gray;
  padding: 8px 32px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid gray 2px;
  margin-left: 2px;
  margin-right: 2px;
  height: fit-content;
  /* width: 30%; */
  /* font-weight: bold; */
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: none;
  padding-bottom: 4px;
  /* width: 100%; */
}

.footer {
  box-sizing: border-box;
  padding: 0.2em;
  background-color: #9caf88;
  color: #445a3c;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  font-family: sans-serif;
  border: solid;
  border-bottom: 0;
  /* border-radius: 20px 20px 0px 0px; */
  flex-direction: row;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  /* padding-top: 4%; */
}

.foothome {
  height: 100%;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.footprofile {
  height: 100%;
  justify-content: right;
  width: 50%;
  text-align: center;
}

.modal {
  width: 90vw;
  height: fit-content;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
