.header {
  /* top: 0;
  left: 0; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 3.5em;
  /* background-color: #9caf88; */
  color: #445a3c;
  font-family: sans-serif;
  /* overflow: hidden; */
  border-bottom: solid;
  text-align: center;
  justify-content: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header * {
  height: 100%;
  width: 100%;
}

.avatar {
  /* height: 20%;
  width: 20%; */
  /* border: solid; */
  height: fit-content;
  width: fit-content;
  padding: none;
  margin: none;
  justify-content: center;
}

.owner {
  color: #445a3c;
  font-weight: bold;
  font-size: large;
  padding: none;
  margin-left: 10px;
  width: fit-content;
  /* margin-top: 15px; */
  /* margin-bottom: 10px; */
  /* border: solid; */
  /* width: 40%; */
}

.wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  /* height: calc(100vh - 5em);
  height: -webkit-calc(100vh - 5em);
  height: -moz-calc(100vh - 5em); */
  /* justify-content: space-between; */
  height: 100vh;
  overflow-y: scroll;
}
section {
  box-sizing: border-box;
  margin-top: 3px;
  block-size: fit-content;
}

section * {
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 5mm;
  background-color: #e4eae3;
  padding: 0;
  width: 100%;
  /* padding-top: 40px; */
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  block-size: fit-content;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  padding: none;
}

.homepic {
  width: 100%;
  height: 150px;
  border-radius: 25px;
  border: solid #9caf88;
}

.welcome {
  color: #445a3c;
  font-weight: bold;
  font-size: large;
  padding: none;
  margin-left: 16px;
}

.top {
  flex-direction: column;
}

.horizontal-scroll {
  display: flex;
  gap: 16px;
  padding: 16px;
  /* display: grid;
  grid-gap: 16px;
  padding: 10px; */
  /* padding-bottom: 0; */
  /* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
  grid-auto-flow: column;
  /* grid-auto-columns: minmax(160px, 1fr); */
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-content: start;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.content-card {
  /* margin: 1em; */
  padding: 2%;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
  /* border: solid #9caf88; */
  width: 70vw;
  /* height: 200px; */
}

.bottom-justified {
  width: 100%;
  /* padding: 1em; */
  /* flex-direction: column; */
}

.description {
  color: #445a3c;
  font-weight: bold;
  padding: 2%;
}

/* .videos {
  overflow-x: scroll;
} */

.video-responsive {
  /* padding: 2.5%; */
  /* height: 100%; */
}

a {
  text-decoration: none;
  color: #445a3c;
}

@media (min-width: 900px) {
  .cards {
    width: 98%;
  }
}

.categoryButton {
  background-color: white;
  border: none;
  color: #445a3c;
  padding: 8px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border: solid #9caf88;
  margin-left: 2px;
  margin-right: 2px;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1em;
}

.footer {
  box-sizing: border-box;
  padding: 0.2em;
  background-color: #9caf88;
  color: #445a3c;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  font-family: sans-serif;
  border: solid;
  border-bottom: 0;
  /* border-radius: 20px 20px 0px 0px; */
  flex-direction: row;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  /* padding-top: 4%; */
}

.foothome {
  height: 100%;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.footprofile {
  height: 100%;
  justify-content: right;
  width: 50%;
  text-align: center;
}

.modal {
  width: 90vw;
  height: fit-content;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
