.header {
  /* top: 0; */
  width: 100%;
  height: fit-content;
  color: #118b6d;
  font-family: sans-serif;
  text-align: center;
  justify-content: left;
  padding-left: 16px;
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top {
  border-bottom: solid #6fcf97;
  padding-bottom: 0.51em;
}

.welcome {
  font-family: sans-serif;
  color: #118b6d;
  padding: none;
  margin-left: 16px;
  padding-top: 5px;
  font-weight: bolder;
  font-size: 1.5em;
}

.trainer-page-name {
  font-family: sans-serif;
  color: #118b6d;
  padding: none;
  margin-left: 16px;
  padding-top: 5px;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.profilepic {
  height: fit-content;
  width: fit-content;
  padding: none;
  margin: none;
  justify-content: center;
  /* border:solid; */
}

.right {
  font-family: sans-serif;
  color: #118b6d;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
  width: 60%;
  /* height: 110%; */
  text-align: left;
  padding-left: 1vw;
}

.petname {
  font-weight: bold;
  /* height: 40%; */
  font-size: 1.2em;
  padding-bottom: 0.1em;
}

.petinfo {
  height: 22%;
  font-weight: normal;
  font-size: 0.7em;
  padding-bottom: 0.4em;
  color: #11614d;
}
.petinfo2 {
  height: 22%;
  font-weight: normal;
  font-size: 0.7em;
  color: #11614d;
}

section {
  box-sizing: border-box;
  margin-top: 3px;
  block-size: fit-content;
}

section * {
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 5mm;
  background-color: #e4eae3;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  block-size: fit-content;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  /* padding-top: 5px; */
}

.trainingTips {
  height: 24em;
  background-color: #d0ebc7;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 1em 1em 1em;
}

.trainingTopic {
  background-color: #d0ebc7;
  color: #1b9c3f;
  font-weight: bolder;
  text-align: center;
  justify-content: right;
}

.trainingImage {
  background-color: #d0ebc7;
  color: #11614d;
  justify-content: center;
  align-items: center;
  /* border: solid; */
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.trainingContent {
  background-color: #d0ebc7;
  color: #1b9c3f;
  padding-bottom: 0.5em;
}

.trainingBottom {
  width: 100%;
  text-align: right;
  background-color: #d0ebc7;
}
.trainingButton {
  color: #1b9c3f;
  width: fit-content;
  background-color: #8ced8a;
  align-items: center;
  margin: 0.4em;
  text-align: right;
  border-radius: 1em;
  border: none;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border-radius: 25px; */
  cursor: pointer;
  padding: none;
}

.homepic {
  width: 100%;
  height: fit-content;
  border-radius: 25px;
  border: solid #9caf88;
}

.top {
  flex-direction: column;
}

.horizontal-scroll {
  display: flex;
  gap: 16px;
  padding: 16px;
  /* display: grid;
  grid-gap: 16px;
  padding: 10px; */
  /* padding-bottom: 0; */
  /* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
  grid-auto-flow: column;
  /* grid-auto-columns: minmax(160px, 1fr); */
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-content: start;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.content-card {
  padding: 2%;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
  width: 70vw;
}

.trainer {
  font-family: sans-serif;
  color: black;
  /* font-weight: bold;
  font-size: large; */
  padding: none;
  margin-left: 16px;
  padding-top: 5px;
  font-weight: bolder;
  /* height: 40%; */
  font-size: 1.2em;
}

.bottom-justified {
  width: 100%;
  /* padding: 1em; */
  /* flex-direction: column; */
}

.description {
  color: #445a3c;
  font-weight: bold;
  padding: 2%;
}

.trainers {
  /* top: 0; */
  width: calc(100vw - 32px);
  height: fit-content;
  color: #118b6d;
  font-family: sans-serif;
  text-align: center;
  justify-content: left;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.trainers-left {
  height: 7rem;
  width: 7rem;
  padding: none;
  margin: none;
  justify-content: center;
  border: solid;
  border-radius: 100%;
  /* overflow: hidden; */
}

.trainers-right {
  font-family: sans-serif;
  color: black;

  font-size: mediuim;
  margin-left: 10px;
  width: 63%;
  /* height: 110%; */

  padding-left: 1vw;
}
/*  */
.trainers-top {
  display: flex;
  flex-direction: row;
  width: 96%;
}

.trainers-name {
  font-family: sans-serif;
  color: black;
  padding: none;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 1.3em;
  width: 70%;
  text-align: left;
}

.trainers-rating {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: right;
  align-content: right;
  justify-content: right;
  padding-right: 0.5em;
  color: #118b6d;
}

.trainers-content {
  font-size: 0.9em;
  padding-bottom: 0.5em;
  text-align: left;
}

.trainer-experience-years {
  font-size: 0.9em;
  text-align: left;
}

.trainer-experience-type {
  font-size: 0.9em;
  text-align: left;
}

.trainer-page-pfp {
  height: 9em;
  width: 9em;
  padding: none;
  margin: none;
  justify-content: center;
  border: solid;
  border-radius: 100%;
  overflow: hidden;
}
.trainer-page {
  font-weight: bold;
}
.green {
  color: #11614d;
}

/* .videos {
  overflow-x: scroll;
} */

.video-responsive {
  /* padding: 2.5%; */
  /* height: 100%; */
}

a {
  text-decoration: none;
  color: #445a3c;
}

@media (min-width: 900px) {
  .cards {
    width: 98%;
  }
}

.categoryButton {
  background-color: white;
  border: none;
  color: gray;
  padding: 0.3em;
  border-radius: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border: solid lightgray 1px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* width: 30%; */
  /* font-weight: bold; */
}

.categoryButton:hover {
  cursor: pointer;
}

.selectedCategoryButton {
  border-color: #30c55a;
  background-color: #d0ebc7;
  color: black;
}

/* .categoryButton:active{
  border-color: black;
  background-color: gray;
  color: black;
} */

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em 0.3em;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 4px 16px 4px 16px;
}

.footer {
  box-sizing: border-box;
  padding: 0.2em;
  background-color: #9caf88;
  color: #445a3c;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  font-family: sans-serif;
  border: solid;
  border-bottom: 0;
  /* border-radius: 20px 20px 0px 0px; */
  flex-direction: row;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  /* padding-top: 4%; */
}

.foothome {
  height: 100%;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.footprofile {
  height: 100%;
  justify-content: right;
  width: 50%;
  text-align: center;
}

.modal {
  width: 90vw;
  height: fit-content;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:hover {
  cursor: pointer;
}
